<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="words">Words</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="word/new">New word</a>
      </li>
      <li routerLinkActive="active" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizz<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="quizz/0">{{ baseLanguageConvert }} ⇾ {{ languageToLearnConvert }}</a></li>
            <li><a routerLink="quizz/1">{{ languageToLearnConvert }} ⇾ {{ baseLanguageConvert }}</a></li>
            <li><a routerLink="quizz/2">Speech</a></li>
            <li><a routerLink="quizz/3">Random</a></li>
          </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signup">Create account</a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin">Login</a>
      </li>
      <li>
        <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Log out</a>
      </li>
    </ul>
  </div>
</nav>