<div class="row">
  <div class="col">
    <h2>Your words</h2>
    
    <div class="form-group">
      <label for="listOptions">Choose a list:</label>
      <select class="form-control" [(ngModel)]="list">
        <option>All lists</option>
        <option *ngFor="let list of lists">{{ list }}</option>
      </select>
    </div>

    <div class="list-group">
      <div class="list-group-item col-xs-12" *ngFor="let word of words | filter: list">
        <h3 class="list-group-item-heading col-xs-9"><img *ngIf="baseLanguage" src="assets/img/{{baseLanguage}}.png" style="margin-right: 10px;">
          {{ word.word }}
        </h3>
        <h4 class="list-group-item-text col-xs-9"><img *ngIf="languageToLearn" src="assets/img/{{languageToLearn}}.png" style="margin-right: 10px;">
          {{ word.translation }}
        </h4>

        <button class="btn btn-default col-xs-1 align-middle" (click)="onViewWord(word)">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <button class="btn btn-default col-xs-1 align-middle" (click)="audioWord(word)">
          <span class="glyphicon glyphicon-volume-up"></span>
        </button>
        <button class="btn btn-default col-xs-1" (click)="onDeleteWord(word)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>
    <button class="btn btn-primary" style="margin-top: 20px;" (click)="onNewWord()">New word</button>
  </div>
</div>