<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Create account</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>

      <div class="form-group">
        <label for="baseLanguage">Your language</label>
        <select class="form-control" id="baseLanguage" formControlName="baseLanguage">
            <option value="en">🇬🇧 English</option>
            <option value="fr">🇫🇷 French</option>
            <option value="de">🇩🇪 German</option>
            <option value="it">🇮🇹 Italian</option>
            <option value="es">🇪🇸 Spanish</option>
            <option value="sv">🇸🇪 Swedish</option>
        </select>
      </div>
      <div class="form-group">
        <label for="languageToLearn">Language you want to learn</label>
        <select class="form-control" id="languageToLearn" formControlName="languageToLearn">
          <option value="en">🇬🇧 English</option>
          <option value="fr">🇫🇷 French</option>
          <option value="de">🇩🇪 German</option>
          <option value="it">🇮🇹 Italian</option>
          <option value="es">🇪🇸 Spanish</option>
          <option value="sv">🇸🇪 Swedish</option>
        </select>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Create account</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>