<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 *ngIf="!goodAnswer && !badAnswer">Quizz</h2>
      <div *ngIf="goodAnswer" class="alert alert-success" id="goodAnswer">
        Good answer!
      </div>
      <div *ngIf="badAnswer" class="alert alert-danger">
          The good answer was: {{ theAnswer }}!
        </div>
      <form [formGroup]="quizzForm">
        <div class="form-group">        
          <div class="row">
            <label for="list">List</label>
            <select class="form-control" id="list" formControlName="list" (change)="wordsOfList()">
              <option *ngFor="let list of lists" [value]="list">{{ list }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <h3><img *ngIf="questionLanguage" src="assets/img/{{questionLanguage}}.png" style="margin-right: 10px;">
              <button *ngIf="quizz===2" class="btn btn-default col-xs-1 align-middle" (click)="audioQuestion()">
                <span class="glyphicon glyphicon-volume-up"></span>
              </button>
              {{ question }}
            </h3>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <img *ngIf="answerLanguage" src="assets/img/{{answerLanguage}}.png" style="margin-right: 10px;">
            <label for="answer">Answer</label>
            <input type="text" class="form-control" id="answer" formControlName="answer">
          </div>
        </div>
        <button class="btn btn-success" [disabled]="quizzForm.invalid" type="submit" (click)="checkAnswer()">Ok</button>
      </form>
    </div>
  </div>