    <div class="col-sm-8 col-sm-offset-2">
      <h2 *ngIf="!goodAnswer && !badAnswer">{{ labelQuizz }}</h2>
      <div *ngIf="goodAnswer" class="alert alert-success" id="goodAnswer">
        Good answer!
      </div>
      <div *ngIf="badAnswer" class="alert alert-danger">
        The good answer was: {{ theAnswer }}!
      </div>
      <form [formGroup]="quizzForm" (ngSubmit)="checkAnswer()" autocomplete="off">
        <div class="form-group">        
            <label for="list">List</label>
            <select class="form-control" id="list" formControlName="list" (change)="wordsOfList()">
              <option *ngFor="let list of lists" [value]="list">{{ list }}</option>
            </select>
        </div>
        <div class="form-group">
            <h3><img *ngIf="questionLanguage" src="assets/img/{{questionLanguage}}.png" style="margin-right: 10px;"/>
              <button *ngIf="quizz===2" class="btn btn-default" (click)="audioQuestion()" type="button">
                <span class="glyphicon glyphicon-volume-up"></span>
              </button>
              {{ question }}
            </h3>
        </div>
        <div class="form-group">
            <img *ngIf="answerLanguage" src="assets/img/{{answerLanguage}}.png" style="margin-right: 10px;">
            <label for="answer">Answer</label>
            <input type="text" class="form-control" #answer id="answer" formControlName="answer">
        </div>
        <div class="form-group">
          <button class="btn btn-success" [disabled]="quizzForm.invalid" type="submit">Ok</button>
        </div>
      </form>
    </div>