<h1>{{ word.list }}</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <img *ngIf="baseLanguage" src="assets/img/{{baseLanguage}}.png">
    </div>
    <div class="col">
      <h3>{{ word.word }}</h3>
    </div>        
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <img *ngIf="languageToLearn" src="assets/img/{{languageToLearn}}.png">
    </div>
    <div class="col-8">
      <h3>{{ word.translation }}</h3>
    </div>        
  </div>
</div>


<button class="btn btn-default" (click)="onBack()">Back</button>

